/********************
YOUR STYLES
*******************/


/* Header & Footer */
footer {
    text-align: center;
}

header {
  display: flex;
    height: 6em;
  justify-content: center;
    
    background: #BAE2D7;
}

header h1 {
    color: #1B1B1B;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}

body {
    background: #F98E7E;
}

/* Gallery Styling */
/* Just for Class*/
figure img {
    display: flex;
    height: 200px;
    width: 200px;
    filter: grayscale(1);
    transition: .5s ease-in-out;

}

figure img:hover {
    filter: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lg-counter,
.lg-toolbar .lg-icon {
    color: #BAE2D7;
}

.lg-toolbar .lg-icon:hover {
    color: #F98E7E;
}


.lg-backdrop {
    background: none;
}

.lg-image {
    box-shadow: 0 0 30px #333;
}

.lg-toolbar {
    background: #FFF5F1;
    height: 2.5em;
}

.lg-thumb-outer.lg-grab {
    background-color: #FFF5F1;
}

.lg-sub-html {
    background: #1B1B1B;
}

.lg-sub-html p {
    color: #FFF5F1;
}

/* Captions */
.caption {
    display: none;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
/*
  body {
       background: red;
  }
*/
  
    figure {
            width: 100%;
    }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
/*
  body {
       background: green;
  }
*/
    
    figure {
            width: 50%;
    }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
/*
  body {
       background: blue;
  }
*/
 
  /* Main Container */
 main {
    margin: 0 auto;
    width: 95%;
 }    
    
    
}